# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Build files
/dist
/build

# Environment variables
.env

# Logs
*.log

# IDE configurations
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Others
*.tgz
